# Archives des images (très lourd, à ne jamais push)
*.tar

# Dossiers de rapports générés par les scripts
build-reports/
reports/

# Java & Maven
target/
*.jar
.mvn/
*.class

# IDE (Visual Studio Code)
.vscode/

# Divers
.DS_Store
*.deb
**/target/final-secrets.yaml
*.tar
